# 1. Creating array using np.array()

In [3]:
import numpy as np

In [6]:
a = np.array([1,2,3,4,5])  # one dimensional array
a

array([1, 2, 3, 4, 5])

In [7]:
a[1]

2

In [9]:
a = np.array([[1,2],[3,4]])  # Two dimensional array
a

array([[1, 2],
       [3, 4]])

In [11]:
a[1]

array([3, 4])

In [13]:
a = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])   #Three dimensional array
a

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [16]:
a[1]

array([[5, 6],
       [7, 8]])

# 2. Creating array using np.zeros()

In [17]:
a1 = np.zeros(10)
a1

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [18]:
a1 = np.zeros(10, dtype = int)    # one dimensional array
a1

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [20]:
a1 = np.zeros((2,3), dtype = int)  # Two dimensional array
a1

array([[0, 0, 0],
       [0, 0, 0]])

In [28]:
a1 = np.zeros((3,3,2), dtype = int)  #Three dimensional array
a1

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0]]])

# 3. Creating array using np.ones()

In [29]:
a2 = np.ones(3, dtype = int)    # one dimensional array
a2

array([1, 1, 1])

# 4. Creating array using np.empty()

In [30]:
a3 = np.empty(3, dtype = int)    # one dimensional array
a3

array([-1716272464,         410,           0])

In [31]:
a3 = np.empty((2,3), dtype = int)  # Two dimensional array
a3

array([[-1717516896,         410,           0],
       [          0,           1,           0]])

# 5. Creating array using np.arange()

In [32]:
a4 = np.arange(7, dtype = int)   # one dimensional array
a4

array([0, 1, 2, 3, 4, 5, 6])

In [35]:
a4 = np.arange(start = 6, stop = 76, step = 5, dtype = np.int32)
a4

array([ 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71])

In [40]:
a4 = np.arange(0, 81, 10, dtype = int)
a4

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80])

# 6. Creating array using np.linspace()

In [42]:
a5 = np.linspace(start= 10, stop = 90, num = 4, dtype = int)  # It returns arrage with given num* value
a5

array([10, 36, 63, 90])

In [43]:
a5 = np.linspace(start= 10, stop = 90, num = 8, dtype = int)   # It returns arrage with given num* value
a5

array([10, 21, 32, 44, 55, 67, 78, 90])

# 7. Creating array using np.eye()

In [48]:
a6 = np.eye(3, 3, dtype = int) 
a6

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

# 8. Creating array using np.diag()

In [50]:
a7 = np.diag(a6) 
a7

array([1, 1, 1])