In [2]:
import pandas as pd
import numpy as np

In [ ]:
#fetching single column from dataframe

In [2]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
df["Age"]

0    50
1    25
2    45
Name: Age, dtype: int64

In [ ]:
#create a Series from scratch

In [4]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

# Different ways to create DataFrame

In [ ]:
#Constructing DataFrame from a dictionary

In [5]:
d = {'col1': [1, 2], 'col2': [3, 4]}
print(d)
df = pd.DataFrame(d)
print(df)

{'col1': [1, 2], 'col2': [3, 4]}
   col1  col2
0     1     3
1     2     4

In [ ]:
#Constructing DataFrame from a dictionary including Series

In [6]:
d = {'col1': [0, 1], 'col2': pd.Series([2, 3], index=[2, 3])}
print(d)
df = pd.DataFrame(d)
print(df)

{'col1': [0, 1], 'col2': 2    2
3    3
dtype: int64}
   col1  col2
2     0     2
3     1     3

In [ ]:
#Constructing DataFrame from numpy ndarray

In [7]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
print(df2)

NameError: name 'np' is not defined

In [ ]:
#Constructing DataFrame from a numpy ndarray that has labeled columns

In [11]:
data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)], dtype=[("a", "i4"), ("b", "i4"), ("c","i4")])

In [12]:
df1 = pd.DataFrame(data)
print(df1)
df2 = pd.DataFrame(data, columns=['c', 'a'])

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
print(df2)

   c  a
0  3  1
1  6  4
2  9  7

In [ ]:
#Constructing DataFrame from different Functions

In [14]:
N=5
df = pd.DataFrame({
 'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
 'x': np.linspace(0,stop=N-1,num=N),
 'y': np.random.rand(N),
 'C': np.random.choice(['Low','Medium','High'],N).tolist(),
 'D': np.random.normal(100, 10, size=(N)).tolist()
 })
print(df)

           A    x         y       C           D
0 2016-01-01  0.0  0.928602    High  101.164764
1 2016-01-02  1.0  0.153821     Low   88.191772
2 2016-01-03  2.0  0.576381  Medium   79.779162
3 2016-01-04  3.0  0.080451  Medium  110.900211
4 2016-01-05  4.0  0.653027     Low  110.914279

# Different ways to create series

In [15]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'])
print(ser)

a    1
b    2
c    3
dtype: int64

In [16]:
ser = pd.Series(data=d, index=['x', 'y', 'z'])
print(ser)

x   NaN
y   NaN
z   NaN
dtype: float64

In [ ]:
#Constructing Series from a 1d ndarray with copy=False

In [17]:
r = np.array([1, 2])
ser = pd.Series(r, copy=False)
print(ser)

0    1
1    2
dtype: int32

# Selecting specific column in DataFrame

In [20]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
df["Age"]

0    50
1    25
2    45
Name: Age, dtype: int64

# Adding new column in DataFrame

In [23]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
print(df)
df['Flat No']=pd.Series([101,102,103])
print(df)

       Name  Age Sex
0  Anuprita   50   F
1  Shreekar   25   M
2     Anuja   45   F
       Name  Age Sex  Flat No
0  Anuprita   50   F      101
1  Shreekar   25   M      102
2     Anuja   45   F      103

# Adding new columns derived from existing columns

In [27]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 "Salary" : [1000,2000,3000],
 }
)

print(df)

df["Bonus"] = df["Salary"] + df["Salary"] * 0.05

print(df)

       Name  Age Sex  Salary
0  Anuprita   50   F    1000
1  Shreekar   25   M    2000
2     Anuja   45   F    3000
       Name  Age Sex  Salary   Bonus
0  Anuprita   50   F    1000  1050.0
1  Shreekar   25   M    2000  2100.0
2     Anuja   45   F    3000  3150.0

# Changing the column name in DataFrame

In [28]:
d1 = pd.DataFrame([[10, 20], [30, 40]])
print(d1)
d1.columns = ["One", "Two"]
print(d1)

    0   1
0  10  20
1  30  40
   One  Two
0   10   20
1   30   40

In [29]:
d1 = d1.rename(columns={"One" : "NewOne"})
print(d1)

   NewOne  Two
0      10   20
1      30   40

# Delete column of DataFrame

In [32]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 "Flat No" : [101,102,103],
 }
)
print(df)
del df["Flat No"] # using del function
print(df)
df.pop("Sex") # using pop function
print(df)

       Name  Age Sex  Flat No
0  Anuprita   50   F      101
1  Shreekar   25   M      102
2     Anuja   45   F      103
       Name  Age Sex
0  Anuprita   50   F
1  Shreekar   25   M
2     Anuja   45   F
       Name  Age
0  Anuprita   50
1  Shreekar   25
2     Anuja   45

# Adding and deleting rows in DataFrame

In [37]:
d1 = pd.DataFrame([[10, 20], [30, 40]])
d2 = pd.DataFrame([[50, 60], [70, 80]])
d1= d1._append(d2)
print(d1)
d1 = d1.drop(0)
print(d1)

    0   1
0  10  20
1  30  40
0  50  60
1  70  80
    0   1
1  30  40
1  70  80

In [ ]:
#Here we can easily see the problem. It is the problem of indexing. In order to remove this
#problem we can use “ignore_index”

In [39]:
d1 = pd.DataFrame([[10, 20], [30, 40]])
d2 = pd.DataFrame([[50, 60], [70, 80]])
d1 = d1._append(d2, ignore_index = True)
print(d1)
d1 = d1.drop(0)
print(d1)

    0   1
0  10  20
1  30  40
2  50  60
3  70  80
    0   1
1  30  40
2  50  60
3  70  80

# Index

In [42]:
df1 = pd.DataFrame([[1,2,3],[4, 5, 6], [7,8,9]])
print(df1)
# If column name and index is not given then pandas assign the column and index starting from 0.
df2 = pd.DataFrame([[1,2,3],[4, 5, 6], [7,8,9]], columns=['One', 'Two', 'Three'], index =
("a","b","c"))
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
   One  Two  Three
a    1    2      3
b    4    5      6
c    7    8      9

# Set_index

In [46]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
print(df)
df1 = df.set_index("Name")
print(df1)
df2 = df.set_index("Age")
print(df2)

       Name  Age Sex
0  Anuprita   50   F
1  Shreekar   25   M
2     Anuja   45   F
          Age Sex
Name
Anuprita   50   F
Shreekar   25   M
Anuja      45   F
         Name Sex
Age
50   Anuprita   F
25   Shreekar   M
45      Anuja   F

# Multiple Index

In [47]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 "Salary" : [1000,2000,3000],
 }
)
print(df)
df2 = df.set_index(["Name", "Age"])
print(df2)

       Name  Age Sex  Salary
0  Anuprita   50   F    1000
1  Shreekar   25   M    2000
2     Anuja   45   F    3000
             Sex  Salary
Name     Age
Anuprita 50    F    1000
Shreekar 25    M    2000
Anuja    45    F    3000

# Iterating DataFrame

In [48]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
print(df)
for col in df:
 print (col)

       Name  Age Sex
0  Anuprita   50   F
1  Shreekar   25   M
2     Anuja   45   F
Name
Age
Sex

In [ ]:
#Let us iterate rows now. There are 3 functions to iterate:

In [51]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
print(df)
for key,value in df.items():
    print (key,value)
for row_index,row in df.iterrows():
    print (row_index,row)
for row in df.itertuples():
    print (row)

       Name  Age Sex
0  Anuprita   50   F
1  Shreekar   25   M
2     Anuja   45   F
Name 0    Anuprita
1    Shreekar
2       Anuja
Name: Name, dtype: object
Age 0    50
1    25
2    45
Name: Age, dtype: int64
Sex 0    F
1    M
2    F
Name: Sex, dtype: object
0 Name    Anuprita
Age           50
Sex            F
Name: 0, dtype: object
1 Name    Shreekar
Age           25
Sex            M
Name: 1, dtype: object
2 Name    Anuja
Age        45
Sex         F
Name: 2, dtype: object
Pandas(Index=0, Name='Anuprita', Age=50, Sex='F')
Pandas(Index=1, Name='Shreekar', Age=25, Sex='M')
Pandas(Index=2, Name='Anuja', Age=45, Sex='F')

# Viewing the rows of DataFrame

In [52]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
print(df.head(2)) # It will display first 2 rows, if not specified then By default it will print first 5 records.
print(df.tail(2)) # It will display last 2 rows, if not specified then By default it will print last 5 records.

       Name  Age Sex
0  Anuprita   50   F
1  Shreekar   25   M
       Name  Age Sex
1  Shreekar   25   M
2     Anuja   45   F

In [ ]:
#Transpose

In [53]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)

print(df.T)

             0         1      2
Name  Anuprita  Shreekar  Anuja
Age         50        25     45
Sex          F         M      F

In [ ]:
#loc
#The loc is used to access a group of rows and columns by label(s)

In [54]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
print(df.loc[1])
df.loc[[1,2]]
df.loc[1:3] #It will display the rows from 1 to 3. Note that 3 rows will not display.

Name    Shreekar
Age           25
Sex            M
Name: 1, dtype: object

       Name  Age Sex
1  Shreekar   25   M
2     Anuja   45   F

# Rank

In [56]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
df["Name"].rank()
df["Sex"].rank()

0    1.5
1    3.0
2    1.5
Name: Sex, dtype: float64

# Sort

In [59]:
df = pd.DataFrame(
 {
 "Name": ["Anuprita", "Shreekar", "Anuja"],
 "Age": [50, 25, 45],
 "Sex": ["F", "M", "F"],
 }
)
df.sort_values(by=["Name"])
df.sort_values(by=["Name"],ascending=False)

       Name  Age Sex
1  Shreekar   25   M
0  Anuprita   50   F
2     Anuja   45   F

# Data Alignment

In [62]:
df1 = pd.DataFrame( [[1, 2, 3, 4], [6, 7, 8, 9]], columns=["D", "B", "E", "A"], index=[1, 2])
df2 = pd.DataFrame([[10, 20, 30, 40], [60, 70, 80, 90], [600, 700, 800, 900]], columns=["A","B", "C", "D"], index=[2, 3, 4])
print(df1)
print(df2)

   D  B  E  A
1  1  2  3  4
2  6  7  8  9
     A    B    C    D
2   10   20   30   40
3   60   70   80   90
4  600  700  800  900

In [ ]:
#Align on columns:

In [63]:
left, right = df1.align(df2, join="outer", axis=1)
print(left)
print(right)

   A  B   C  D  E
1  4  2 NaN  1  3
2  9  7 NaN  6  8
     A    B    C    D   E
2   10   20   30   40 NaN
3   60   70   80   90 NaN
4  600  700  800  900 NaN

In [ ]:
#Align on the index:

In [64]:
left, right = df1.align(df2, join="outer", axis=0)
print(left)
print(right)

     D    B    E    A
1  1.0  2.0  3.0  4.0
2  6.0  7.0  8.0  9.0
3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN
       A      B      C      D
1    NaN    NaN    NaN    NaN
2   10.0   20.0   30.0   40.0
3   60.0   70.0   80.0   90.0
4  600.0  700.0  800.0  900.0

In [ ]:
#Align on the index and column:

In [65]:
left, right = df1.align(df2, join="outer", axis=None)
print(left)
print(right)

#Note: You can try join {‘outer’, ‘inner’, ‘left’, ‘right’}, default ‘outer’

     A    B   C    D    E
1  4.0  2.0 NaN  1.0  3.0
2  9.0  7.0 NaN  6.0  8.0
3  NaN  NaN NaN  NaN  NaN
4  NaN  NaN NaN  NaN  NaN
       A      B      C      D   E
1    NaN    NaN    NaN    NaN NaN
2   10.0   20.0   30.0   40.0 NaN
3   60.0   70.0   80.0   90.0 NaN
4  600.0  700.0  800.0  900.0 NaN

# Missing Data

In [66]:
df = pd.DataFrame(np.random.randn(5, 3), index=["a", "c", "e", "f", "h"],
 columns=["one", "two", "three"])
df["four"] = "bar"
df["five"] = df["one"] > 0
df2 = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])

In [ ]:
# isna()

In [67]:
pd.isna(df2["one"])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
#notna()

In [68]:
df2["one"].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [ ]:
#fillna()

In [69]:
df2["four"] = df2["four"].fillna("missing")
# It replaces NaN with “missing”
df2["one"] = df2["one"].fillna(method="ffill")
# It replaces NaN with previous Value of that Column.
df2["two"] = df2["two"].fillna(method="backfill")
# It replaces NaN with Next Value of that Column.
df2["three"] = df2["three"].fillna(df2["three"].mean())
36
# It replaces NaN with average Value of that Column.
df2["five"] = df2["five"].fillna(False)

In [ ]:
#dropna()

In [70]:
df = pd.DataFrame(np.random.randn(5, 3), index=["a", "c", "e", "f", "h"],
 columns=["one", "two", "three"])
df["four"] = "bar"
df["five"] = df["one"] > 0
df2 = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])

# Reading writing Files

In [ ]:
##Reading from JSON

pd.read_json("test.json")
pd.read_json("test.json", dtype=object).dtypes
# It doesn’t convert any data (but still convert axes and dates)

In [ ]:
#Writing JSON - A Series or DataFrame can be converted to a valid JSON string. You can use to_json()
#function to create json file

json = dfj2.to_json(date_unit="ns")

In [ ]:
##Reading HTML File

read_html()  #function can accept an HTML string/file/URL and will parse HTML tables into list of pandas DataFrames
df = pd.read_url(“https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list”)

In [ ]:
#Writing HTML File

df2.to_html(open('my_file.html', 'w'))

#The “my_file.html” file is stored at the same folder where your python file is located

In [ ]:
##MS Excel Files
#Reading HTML File
#You can use read_excel() function to read excel file. The read_excel takes a path to an Excel
#file, and the sheet_name indicating which sheet to parse

pd.read_excel("path_to_file.xls", sheet_name="Sheet1")
with pd.ExcelFile("path_to_file.xls") as xls:
 df1 = pd.read_excel(xls, "Sheet1")
 df2 = pd.read_excel(xls, "Sheet2")

In [ ]:
##Writing HTML File

df.to_excel("path_to_file.xlsx", sheet_name="Sheet1")

# Exercise

In [ ]:
1. What is Pandas ? Explain the Pandas in short.
2. What are the steps of Panda installation?
3. List out the different ways to create DataFrame and explain any two with the help of
example.
4. How to add and delete new column from DataFrame explain it with example?
5. How to handle missing data in Pandas ?